.Uzbekistan-flag{
    margin-left: 300px;
    margin-top: 100px;
    width: 800px;
    height: 410px;
    background-image: linear-gradient(to bottom, rgb(20, 122, 200) 33%, red 33% 35%, white 35% 67%, red 67% 69%, green 69% 100%);
color: r;}